---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        Published: {{ page.date | date: date_format }}
      </time>
      <time class="dt-modified" datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
        {%- if page.last_modified_at -%}
        • Last modified: {{ page.last_modified_at | date: date_format }}
        {%- else -%}
        • Last modified: {{ page.date | date: date_format }}
        {%- endif %}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }} </span></span>
      {%- endif -%}
        • <span itemprop="readingTime" itemscope><span class="h-card" itemprop="readingTime">{% include reading-time.html %}</span></span></p>
  </header>

  <div class="toc">
    <h2>Table of contents</h2>
    {% include toc.html html=content %}
  </div>
  <div class="post-content e-content" itemprop="articleBody">
    {% include anchor_headings.html html=content anchorBody="#" %}
  </div>

  <script src="https://utteranc.es/client.js"
          repo="sscheib/sscheib.github.io-comments"
          issue-term="title"
          label="comment"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
