---
name: 'Build and deploy to Github Pages'
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - 'main'

jobs:
  build_and_deploy:
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout the repository'
        uses: 'actions/checkout@v3'

      - name: 'Cache dependencies'
        uses: 'actions/cache@v3'
        with:
          path: 'vendor/bundle'
          key: "${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}"
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: 'Deploy to GitHub Pages'
        uses: 'jeffreytse/jekyll-deploy-action@v0.6.0'
        with:
          provider: 'github'
          token: '${{ secrets.GITHUB_TOKEN }}'
          branch: 'gh-pages'
          jekyll_src: './'
          jekyll_cfg: '_config.yml'
          cname: 'blog.scheib.me'
...
